{% extends "layout.html" %}
{% block body %}
<div id="root"></div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/vendor/common.bundle.min.js') }}"></script>
<script type="module" src="{{ url_for('operators.static', filename='js/operator.bundle.min.js') }}"
    data-url="{{ url_for('operators.update_myself', operator_id=operator_id) }}"
    data-operator="{{ to_json(operator) }}" data-skills="{{ to_json(skills) }}"></script>
<breadscram data-current="{{ to_json({'name': 'As Operator'}) }}"></breadscram>
{% endblock %}