{% extends "layout.html" %}
{% block body %}
<div id="root"></div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/common.bundle.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('operators.static', filename='js/operators.bundle.min.js') }}"
    data-url="{{ url_for('operators.update_operator', operator_id='operator_id') }}"
    data-operators="{{ to_json(operators) }}" data-skills="{{ to_json(skills) }}"></script>
<breadscram data-current="{{ to_json({'name': 'Operators'}) }}"></breadscram>
{% endblock %}