{% extends "layout.html" %}
{% block body %}

<div>
    <div class="card">
        <div class="card-header">
            <input type="text" class="form-control" name="teamCategoryName" value="{{ team_category.name }}">
        </div>
        <div class="card-body">
            <div class="mb-3 custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check1" {% if team_category.allow_multiple_affiliationing %}checked{% endif %}>
                <label class="custom-control-label" for="check1">can affiliation to more than one team</label>
            </div>
            <div class="mb-3 custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check2" {% if team_category.is_leader_required %}checked{% endif %}>
                <label class="custom-control-label" for="check2">require leader</label>
            </div>
            <div>
                <span>Team Member Count</span>
                <input type="number" class="form-control d-inline-block ml-3" style="width:7rem"
                       value="{{ team_category.min_member_count }}">
                <span class="d-inline-block ml-3">~</span>
                <input type="number" class="form-control d-inline-block ml-3" style="width:7rem"
                       value="{{ team_category.max_member_count }}">
            </div>
        </div>
    </div>
</div>
<div class="float-left border position-relative w-75" style="height:30rem">
    <div style="height:calc(100% - 2.5rem); overflow:scroll;" id="teamArea">
        {% for team in team_category.teams %}
        <div class="float-left w-50">
            <div class="m-3">
                <div class="border p-1 bg-light">
                    <input type="text" class="form-control" name="teamName" value="{{ team.name }}">
                </div>
                <div class="border" style="height:8rem; overflow:scroll;">
                    {% for user in team.users %}
                    <div class="border py-1">{{ user.name }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="border-top position-absolute fixed-bottom" style="height:2.5rem">
        <button class="btn btn-primary" type="submit">Update Team Category</button>
        <button id="abort" class="btn btn-secondary" data-href="{{ url_for('teams.show_team_categories') }}">Abort
        </button>
        <button id="add" class="btn btn-warning">Add Team</button>
    </div>
</div>
<div class="float-right border w-25" style="height:30rem;">
    <h4 class="border text-center mb-0 p-1 bg-light">Users</h4>
    <div style="height:calc(100% - 2.5rem); overflow:scroll;">
        {% for user in all_users %}
        <div class="border py-1 user">{{ user.name }}</div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block script %}
<script type="module" src="{{ url_for('teams.static', filename='js/team-category-edit.js') }}"></script>
<script type="text/javascript">
$(function(){
    $('.card-body').hide();
    $('.card-header').click(function(){
        $('.card-body').slideToggle(500);
    })
});
</script>
{% endblock %}