{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('myself.store_myself') }}" method="post">
    {{ form.hidden_tag() }}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Login Id</span>
        </div>
        <input type="text" class="form-control" name="login_id" value="{{ form.login_id.data }}" readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Password</span>
        </div>
        <input type="password" class="form-control" name="password" value="{{ form.password.data }}">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
        </div>
        <input type="text" class="form-control" name="name" value="{{ form.name.data }}">
    </div>
    {% if form.is_operator.data %}
        <div id="skills" class="table-responsive mb-3">
            <table class="table" id="user-table">
                <thead>
                    <tr>
                        <th>skill</th>
                    </tr>
                </thead>
                <tbody>
                    {% for skill in form.all_skills %}
                        <tr role="row">
                            <td>
                                <div class="mb-1 custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="{{ skill.id.data }}" name="{{ skill.is_obtain.id }}"
                                        {% if skill.is_obtain.data %}checked{% endif %}>
                                    <label class="custom-control-label" for="{{ skill.id.data }}">{{ skill.name.data }}</label>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <button class="btn btn-primary" type="submit">Store User</button>
</form>
{% endblock %}