{% extends "layout.html" %}
{% block body %}
<div class="cl-tool-header row">
    <div class="cl-tool-left col-md-3">
        <div class="btn-group">
            <button type="button" class="btn btn-primary"><span class="fa fa-chevron-left"></span></button>
            <button type="button" class="btn btn-info">Today</button>
            <button type="button" class="btn btn-primary"><span class="fa fa-chevron-right"></span></button>
        </div>
    </div>
    <div class="cl-tool-center cl-title col-md-5"><h2>{{ month_year }}</h2></div>
    <div class="cl-tool-right col-md-4">
    </div>
</div>
<div class="cl">
    <div class="cl-header d-none d-md-block">
        <div class="row">
            <div class="cl-header-cell col">Sun</div>
            <div class="cl-header-cell col">Mon</div>
            <div class="cl-header-cell col">Tue</div>
            <div class="cl-header-cell col">Wed</div>
            <div class="cl-header-cell col">Thu</div>
            <div class="cl-header-cell col">Fri</div>
            <div class="cl-header-cell col">Sat</div>
        </div>
    </div>
    <div class="cl-body">
        {% for week in weeks %}
        <div class="row">
            {% for day in week %}
            <div class="cl-body-cell col
                {% if day.outer_month %}outer-month-cell{% endif %}
                {% if day.current_day %}current-day-cell{% endif %}">
                <span class="cl-day">{{ day.day }}</span>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block css %}
<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='css/calendar.css') }}" />
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}