{% extends "layout.html" %}
{% block body %}
<form method="post">
    <select class="custom-select" name="belong">
        {% for belong in belongs %}
            <option value="{{ belong.id }}"
                {% if belong.id==selected_belong.id %}selected{% endif %}>{{ belong.name }}</option>
        {% endfor %}
    </select>
    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#option">Options</button>
    <div id="option" class="collapse p-2">
        <div class="custom-control-inline mb-3">
            <div class="m-1 custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="certified_skill" name="certified_skill">
                <label class="custom-control-label" for="certified_skill">Certified skill</label>
            </div>
            <div class="m-1 custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="not_certified_skill" name="not_certified_skill">
                <label class="custom-control-label" for="not_certified_skill">Not certified skill</label>
            </div>
        </div>
        <div class="card-columns">
            <div class="card">
                <div class="card-header">日勤帯</div>
                <div class="card-body">
                    <div class="input-group m-1 mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Default Count</span>
                        </div>
                        <input type="number" class="form-control" name="member_in_a">
                    </div>
                    <div class="m-1 mb-3 custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="rest_next_day" name="rest_next_day">
                        <label class="custom-control-label" for="rest_next_day">Rest Next Day</label>
                    </div>
                    <h3>Essential Skills</h3>
                    <ul class="horizontal-list">
                        {% for skill in skills %}
                            <li class="horizontal-list-item no-border">
                                <div class="m-1 custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="{{ skill.id }}" name="{{ skill.id }}">
                                    <label class="custom-control-label" for="{{ skill.id }}">{{ skill.name }}</label>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <hr>
                    <button type="button" class="btn btn-danger btn-block">Remove</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">夜間帯</div>
                <div class="card-body">
                    <div class="input-group m-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Require Count</span>
                        </div>
                        <input type="number" class="form-control" name="member_in_a">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="p-3">
        <div id="month_year" data-month_year="{{ month_year }}">
            <h2>{{ month_year.strftime('%b %Y') }}</h2>
        </div>
        <div>
            <ul class="horizontal-list">
                {% for date in date_set %}
                    <li class="horizontal-list-item">
                        <div>
                            <span class="">{{ date.day }}</span>
                            <br />
                            <span class="">{{ date.week_day }}</span>
                        </div>
                        <hr />
                        <select class="custom-select custom-select-sm" name="countOfA">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <br />
                        <select class="custom-select custom-select-sm" name="countOfB">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <hr />
    <div class="p-3">
        <h2>Prefixed schedule</h2>
        <div>

        </div>
    </div>
    <hr />
    <button class="btn btn-danger btn-block bt-3">Create Work Schedule</button>
</form>
{% endblock %}

{% block css %}
<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='css/scheduler.css') }}" />
{% endblock %}

{% block script %}
<script type="module" src="{{ url_for('static', filename='js/alert-helper.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/scheduler.js') }}"></script>
{% endblock %}