{% extends "layout.html" %}
{% block body %}
<form method="post">
    <select class="custom-select" name="belong">
        {% for belong in belongs %}
            <option value="{{ belong.id }}"
                {% if belong.id==selected_belong.id %}selected{% endif %}>{{ belong.name }}</option>
        {% endfor %}
    </select>
    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#option">Options</button>
    <div id="option" class="collapse p-2">
        <div class="custom-control-inline">
            <div class="m-1 custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="does_use_certified_skill" name="does_use_certified_skill">
                <label class="custom-control-label" for="does_use_certified_skill">Does use certified skill</label>
            </div>
            <div class="m-1 custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="does_use_not_certified_skill" name="does_use_not_certified_skill">
                <label class="custom-control-label" for="does_use_not_certified_skill">Does use not certified skill</label>
            </div>
            <div class="m-1 custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="is_there_night_time" name="is_there_night_time">
                <label class="custom-control-label" for="is_there_night_time">Is there night time</label>
            </div>
        </div>
        <div class="input-group m-1">
            <div class="input-group-prepend">
                <span class="input-group-text">Team in a day</span>
            </div>
            <select class="custom-select" name="belong">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <div class="custom-control-inline">
            <div class="input-group m-1">
                <div class="input-group-prepend">
                    <span class="input-group-text">Default count for A</span>
                </div>
                <input type="number" class="form-control" name="member_in_a">
            </div>
            <div class="input-group m-1">
                <div class="input-group-prepend">
                    <span class="input-group-text">Default count for B</span>
                </div>
                <input type="number" class="form-control" name="member_in_b">
            </div>
        </div>
    </div>
    <hr />
    <div class="p-3">
        <div id="month_year" data-month_year="{{ month_year }}">
            <h2>{{ month_year.strftime('%b %Y') }}</h2>
        </div>
        <div>
            <ul class="horizontal-list">
                {% for date in date_set %}
                    <li class="horizontal-list-item">
                        <div class="">
                            <span class="">{{ date.day }}</span>
                            <br />
                            <span class="">{{ date.week_day }}</span>
                        </div>
                        <hr />
                        <select class="custom-select custom-select-sm" name="countOfA">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <br />
                        <select class="custom-select custom-select-sm" name="countOfB">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <hr />
    <div class="p-3">
        <h2>Prefixed schedule</h2>
        <div>

        </div>
    </div>
    <hr />
    <button class="btn btn-danger btn-block bt-3">Create Work Schedule</button>
</form>
{% endblock %}

{% block css %}
<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='css/scheduler.css') }}" />
{% endblock %}

{% block script %}
<script type="module" src="{{ url_for('static', filename='js/alert-helper.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/scheduler.js') }}"></script>
{% endblock %}