{% extends "layout.html" %}
{% block body %}
<div class="p-3">
    <h2>Certified Skills</h2>
    <div class="table-responsive">
        <table class="table table-hover" id="certified-skills" style="width:40rem">
            <thead>
                <tr>
                    <th>name</th>
                    <th>score</th>
                </tr>
            </thead>
            <tbody>
                {% for skill in certified_skills %}
                <tr>
                    <td>{{ skill.name }}</td>
                    <td>{{ skill.score }}</td>
                </tr>
                {% else %}
                <tr>
                    <td>No skill sets here so far.</td><td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr />
<div class="p-3">
    <h2>Not Certified Skills</h2>
    <div class="table-responsive">
        <table class="table table-hover" id="not-certified-skills" style="width:40rem">
            <thead>
                <tr>
                    <th>name</th>
                    <th>score</th>
                </tr>
            </thead>
            <tbody>
                {% for skill in not_certified_skills %}
                <tr>
                    <td>{{ skill.name }}    </td>
                    <td>{{ skill.score }}</td>
                </tr>
                {% else %}
                <tr>
                    <td>No skill sets here so far.</td><td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $('tbody').sortable();

    $(document).ready(function(){
        $("#skills").dblclick(function(){
            $(this).find("tbody").append($("<tr>")
                .append($("<td>")
                    .append($("<input>").attr('type', 'text').attr('name', 'rank-name').addClass('form-control'))
                )
                .append($("<td>")
                    .append($("<input>").attr('type', 'text').attr('name', 'rank-name').addClass('form-control'))
                )
            );
        });
    });
</script>
{% endblock %}