{% extends "layout.html" %}
{% block body %}
<div class="modal fade" id="skill-modal" tabindex="-1" role="dialog"
     aria-labelledby="skillLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title">Set skill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <input type="hidden" id="skill-id">
          <div class="input-group m-1">
              <div class="input-group-prepend">
                  <span class="input-group-text">name</span>
              </div>
              <input type="text" class="form-control" id="skill-name">
          </div>
          <div class="input-group m-1">
              <div class="input-group-prepend">
                  <span class="input-group-text">score</span>
              </div>
              <input type="number" class="form-control" id="skill-score" min="1" max="10">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-skill">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="p-3">
    <h2>Certified Skills</h2>
    <div class="table-responsive">
        <table class="table table-hover" id="certified-skills">
            <thead>
                <tr>
                    <th>name</th>
                    <th style="width: 5rem">score</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for skill in certified_skills %}
                <tr>
                    <td>{{ skill.name }}</td>
                    <td>{{ skill.score }}</td>
                    <td class="icon-column">
                        <button class="btn btn-warning btn-sm"
                                data-toggle="tooltip" title="edit"
                                data-category="certified" data-id="{{ skill.id }}"
                                data-name="{{ skill.name }}" data-score="{{ skill.score }}">
                            <i class="fa fa-pencil-alt"></i>
                        </button>
                    </td>
                    <td class="icon-column">
                        <button class="btn btn-danger btn-sm"
                                data-toggle="tooltip" title="remove">
                            <i class="fa fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td>No skill sets here so far.</td><td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button id="add-certified-skill" class="btn btn-info btn-block mt-3">Add New Skill</button>
</div>
<hr />
<div class="p-3">
    <h2>Not Certified Skills</h2>
    <div class="table-responsive">
        <table class="table table-hover" id="not-certified-skills">
            <thead>
                <tr>
                    <th>name</th>
                    <th style="width: 5rem">score</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for skill in not_certified_skills %}
                <tr>
                    <td>{{ skill.name }}</td>
                    <td>{{ skill.score }}</td>
                    <td class="icon-column">
                        <button class="btn btn-warning btn-sm"
                                data-toggle="tooltip" title="edit"
                                data-category="certified" data-id="{{ skill.id }}"
                                data-name="{{ skill.name }}" data-score="{{ skill.score }}">
                            <i class="fa fa-pencil-alt"></i>
                        </button>
                    </td>
                    <td class="icon-column">
                        <button class="btn btn-danger btn-sm"
                                data-toggle="tooltip" title="remove"
                                data-id="{{ skill.id }}">
                            <i class="fa fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td>No skill sets here so far.</td><td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button id="add-not-certified-skill" class="btn btn-info btn-block mt-3">Add New Skill</button>
</div>
{% endblock %}

{% block script %}
<script type="module" src="{{ url_for('static', filename='js/skills.js') }}"></script>
{% endblock %}