{% extends "layout.html" %}
{% block body %}
<form>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Team Category Name</span>
        </div>
        <input type="text" class="form-control" name="name">
    </div>
    <div class="mb-3 custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="allow_multiple_belonging" id="check1" checked="checked">
        <label class="custom-control-label" for="check1">can belong to more than one team</label>
    </div>
    <div class="mb-3 custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="is_leader_required" id="check2">
        <label class="custom-control-label" for="check2">require leader</label>
    </div>
    <div class="mb-3">
        <span>Team Member Count</span>
        <input type="number" class="form-control d-inline-block ml-3" style="width:7rem" name="min_member_count">
        <span class="d-inline-block ml-3">~</span>
        <input type="number" class="form-control d-inline-block ml-3" style="width:7rem" name="max_member_count">
    </div>
    <div>
        <button class="btn btn-primary" type="button" id="append">Store Team Category</button>
        <button type="button" id="abort" class="btn btn-secondary" data-href="{{ url_for('teams.show_team_categories') }}">Abort</button>
    </div>
</form>
{% endblock %}

{% block script %}
<script type="module" src="{{ url_for('static', filename='js/team_category_append.js') }}"></script>
{% endblock %}