{% extends "layout.html" %}
{% block body %}
<div>
    <div class="card">
        <div class="card-header">
            <input type="text" class="form-control" id="teamCategoryName" value="{{ team_category.name }}">
            <input type="hidden" id="teamCategoryId" value="{{ team_category.id }}">
        </div>
        <div class="card-body">
            <div class="mb-3 custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check1"
                       {% if team_category.allow_multiple_affiliation %}checked{% endif %}>
                <label class="custom-control-label" for="check1">can affiliate with more than one team</label>
            </div>
            <div class="mb-3 custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check2"
                       {% if team_category.is_leader_required %}checked{% endif %}>
                <label class="custom-control-label" for="check2">require leader</label>
            </div>
            <div>
                <span>Team Member Count</span>
                <input type="number" class="form-control d-inline-block ml-3" id="min_member_count"
                       style="width:7rem"
                       value="{{ team_category.min_member_count }}">
                <span class="d-inline-block ml-3">~</span>
                <input type="number" class="form-control d-inline-block ml-3" id="max_member_count"
                       style="width:7rem"
                       value="{{ team_category.max_member_count }}">
            </div>
        </div>
    </div>
</div>
<div class="float-left border position-relative w-75" style="height:30rem">
    <div id="teamArea" style="height:calc(100% - 2.5rem); overflow:scroll;">
        {% for team in team_category.teams %}
        <div class="float-left w-50 team">
            <div class="m-3">
                <div class="border p-1 bg-light">
                    <input type="text" class="form-control d-inline teamName" data-toggle="tooltip"
                           data-trigger="manual" title="A leader is required." style="width:calc(100% - 5.25rem)"
                           value="{{ team.name }}">
                    <button class="btn btn-secondary deleteTeam" style="width:5rem">Delete</button>
                </div>
                <div class="border memberArea" data-toggle="tooltip"
                     data-trigger="manual" title="The member count is out of range."
                     style="height:8rem; overflow:scroll;">
                    <input type="hidden" class="hdnTeamId" value="{{ team.id }}">
                    {% for user in team.users %}
                    <div class="border py-1 member" data-toggle="tooltip" data-trigger="manual"
                         title="A user cannot belong to more than one team." style="height:2.25rem">
                        <input type="radio" name="{{ team.id }}" id="{{ team.id }}{{ user.id }}" style="width:2rem"
                               {% if user.id== team.leader_user_id %}checked{% endif %}>
                        {{ user.name }}
                        <input type="hidden" class="hdnUserId" value="{{ user.id }}">
                        <button class="btn btn-light float-right h-100 mr-1 p-0 deleteMember" style="width:1.75rem">×
                        </button>
                        {% if user.id == team.leader_user_id %}<span
                            class="badge badge-warning float-right p-2">Leader</span>{% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="border-top position-absolute fixed-bottom" style="height:2.5rem">
        <button type="button" id="update" class="btn btn-primary">Update Team Category</button>
        <button id="add" class="btn btn-warning">Add Team</button>
        <button id="abort" class="btn btn-secondary" data-href="{{ url_for('teams.show_team_categories') }}">Abort
        </button>
    </div>
</div>
<div class="float-right border w-25" style="height:30rem;">
    <h4 class="border text-center mb-0 p-1 bg-light">Users</h4>
    <div style="height:calc(100% - 2.5rem); overflow:scroll;">
        {% for user in all_users %}
        <div class="border py-1 user">
            {{ user.name }}
            <input type="hidden" value="{{ user.id }}">
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
<script type="module" src="{{ url_for('static', filename='js/team_category_edit.js') }}"></script>
<script type="text/javascript">
$(function(){
    $('.card-body').hide();
    $('.card-header').click(function(){
        $('.card-body').slideToggle(500);
    })
});
</script>
{% endblock %}