.Sun {
    color: #dc3545;
}

.Sat {
    color: #17a2b8;
}

#date-set table {
    overflow-x: scroll;
    display: inline-block;
    white-space: nowrap;
    width: 94%;
}

#date-set th, #date-set td {
    font-weight: initial;
    vertical-align: middle !important;
    border: 0px !important;
    border-right: solid 1px lightgray !important;
    text-align: center;
}

*, ::after, ::before {
    box-sizing: initial;
}

.title input {
    font-size: 2rem;
    width: 9rem;
}

.add-fixed-schedule {
    left: 90%;
    position: absolute;
}

.add-participants {
    position: relative;
    left: 80%;
    float: left;
}

.participants {
    max-height: 12rem;
    overflow-y: auto;
    right: 20%;
}