<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Work Scheduler</title>

        <style>
            html { font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif !important; }
        </style>
        <script type="text/javascript">
            const csrfToken = "{{ csrf_token() }}";
            const operatorId = "{{ operator_id() }}";
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/common/extension.bundle.min.js') }}"></script>
    </head>
    <body>
        <div id="root"></div>
    </body>
    <script src="{{ url_for('static', filename='js/vendor/common.bundle.min.js') }}"></script>
    {% block css %}{% endblock %}
    <script id="linkTags"
        data-is-authenticated="{{ current_user.is_authenticated }}"
        data-auth="{{ to_json(current_user) }}"
        data-url-menu="{{ url_for('menu.show_menu') }}"
        data-url-schedules="{{ url_for('schedule.show_schedules') }}"
        data-url-requests="{{ url_for('scheduler.show_my_request', calendar=next_month) }}"
        data-url-as-operator="{{ url_for('operator.show_myself', operator_id=operator_id) }}"
        data-url-as-user="{{ url_for('user.show_myself', user_id=current_user.id) }}"
        data-url-scheduler-menu="{{ url_for('scheduler.show_menu') }}"
        data-url-operators="{{ url_for('operator.show_operators') }}"
        data-url-users="{{ url_for('user.show_users') }}"
        data-url-teams="{{ url_for('user.show_teams') }}"
        data-url-skills="{{ url_for('operator.show_skills') }}"
        data-url-logout="{{ url_for('user.logout') }}"></script>
    {% block script %}{% endblock %}
    <script>
        // work around solution to override material design by emotion
        const nodes = document.querySelectorAll('[data-emotion="css"]');
        const head = document.querySelector('head');
        const insertionPoint = document.createElement('nonscript');
        head.appendChild(insertionPoint);
        nodes.forEach(x => head.insertBefore(x, insertionPoint));
    </script>
</html>