{% extends "layout.html" %}

{% block css %}
<link rel='stylesheet' type="text/css" href="{{ url_for('scheduler.static', filename='css/request.css') }}" />
{% endblock %}

{% block script %}
<script id="breadscram" data-current="{{ to_json({'name': 'Requests'}) }}"></script>
<script>
    const d = new Date();
    const today = new Date(d.getFullYear(), d.getMonth(), d.getDate());
    const minDate = new Date(today.addMonths(1).setDate(1));
    minDate.setHours(0);
    minDate.setMinutes(0);
    minDate.setSeconds(0);
    minDate.setMilliseconds(0);
    const maxDate = new Date(today.addMonths(7).setDate(0));
    maxDate.setHours(23);
    maxDate.setMinutes(59);
    maxDate.setSeconds(59);
    maxDate.setMilliseconds(99);
</script>
<script type="text/javascript" src="{{ url_for('requests.static', filename='js/request.bundle.min.js') }}"
    data-url="{{ url_for('scheduler.show_my_request') }}"
    data-schedule-of="{{ schedule_of }}" data-schedule-of-name="{{ schedule_of.strftime('%b %Y') }}"
    data-url-add-request="{{ url_for('scheduler.append_my_request', scheduler=scheduler.id) }}"
    data-url-update-request="{{ url_for('scheduler.update_my_request', request_id='request_id', scheduler=scheduler.id) }}"
    data-calendar="{{ to_json(monthly_setting.as_calendar) }}" data-holidays="{{ monthly_setting.holidays }}"
    data-paid-holidays="{{ operator.paid_holidays }}"></script>
{% endblock %}