.cl-tool-header {
    margin-bottom: 1rem;
    vertical-align: middle;
    text-align: center;
}

.cl-title {
    text-align: center;
}

.cl-tool-left {
    float: left;
}

.cl-tool-right {
    float: right;
}

.cl-tool-center {
    display: inline-block;
}

.outer-month-cell {
    color: gray;
    background: #f5f5f5;
}

.outer-month-cell .edit-event{
    visibility: hidden;
}

.day-1 {
}

.day-2 {
    width: 21%;
}

.day-3 {
    width: 32%;
}

.day-4 {
    width: 43%;
}

.day-5 {
    width: 54%;
}

.day-6 {
    width: 65%;
}

.day-7 {
    width: 76%;
}