{% extends "layout.html" %}
{% block script %}
<script src="{{ url_for('static', filename='js/main-menu.bundle.min.js') }}"
        data-auth="{{ to_json(current_user) }}" data-url-menu="{{ url_for('menus.show_menu') }}"
        data-url-schedules="{{ url_for('schedules.show_schedules') }}"
        data-url-requests="{{ url_for('requests.show_my_request', schedule_of=next_month) }}"
        data-url-as-operator="{{ url_for('operators.show_myself', operator_id=operator_id) }}"
        data-url-as-user="{{ url_for('users.show_myself', user_id=current_user.id) }}"
        data-url-scheduler-menu="{{ url_for('schedulers.show_menu') }}"
        data-url-operators="{{ url_for('operators.show_operators') }}"
        data-url-users="{{ url_for('users.show_users') }}"
        data-url-teams="{{ url_for('teams.show_teams') }}"
        data-url-skills="{{ url_for('skills.show_skills') }}"
        data-url-logout="{{ url_for('auths.logout') }}"></script>
{% endblock %}

{% block css %}
<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='css/menu.css') }}" />
{% endblock %}