.cl-header-cell, .cl-body-cell {
    border: .1rem solid #dee2e6;
}

.cl-tool-header {
    margin-bottom: 1rem;
    vertical-align: middle;
    text-align: center;
}

.cl-title {
    text-align: center;
}

.cl-tool-left {
    float: left;
}

.cl-tool-right {
    float: right;
}

.cl-tool-center {
    display: inline-block;
}

.cl-header {
}

.cl-header-cell {
    box-sizing: content-box;
    text-align: center;
    font-size: larger;
}

.cl-body {
}

.cl-body-cell {
    text-align: right;
    height: 7rem;
    padding: 0;
}

.outer-month-cell {
    color: gray;
    background: #f5f5f5;
}

.cl-day {
    margin: .5rem;
    font-size: 1.3rem;
}

.outer-month-cell .edit-event{
    visibility: hidden;
}

.request {
    background-color: #ffc107;
    border-color: #ffc107;
    position: absolute;
    width: 10%;
    z-index: 3;
}

.day-1 {
}

.day-2 {
    width: 21%;
}

.day-3 {
    width: 32%;
}

.day-4 {
    width: 43%;
}

.day-5 {
    width: 54%;
}

.day-6 {
    width: 65%;
}

.day-7 {
    width: 76%;
}
.add-request {
    float: left;
    margin: .3rem;
    padding: 0rem;
}

.request-container{
    max-height: 60%;
    width: 95%;
    margin: .3rem;
}

.request-item {
    padding: 0rem;
    margin: .1rem 0rem;
}