html { font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif !important; }
input , select { width: 20rem; }

.expander {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.icon-column {
    width: 2rem;
}

input[type="checkbox"] {
    width: auto;
}

.flex {
    display: flex;
}

.froot {
    display: flow-root;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.draggable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
}

.drop-region {
    min-height: 2rem;
    padding: 1rem 0.5rem;
    border: solid #aaaaaa 1px;
    border-radius: 0.3rem;
}