a, a:hover, a:visited {
    text-decoration: none;
    color: black;
}

a {
    margin: 1rem 0.5rem;
}

.card-deck .card {
    height: 100%; width: 18rem;
}

.card img { p
    adding: 0.5rem;
}

.card {
    margin: 0rem !important;
    width: 16rem !important;
    height: 24rem !important;
}