.horizontal-list {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0;
}

.horizontal-list-item {
    border-right: 1px solid rgba(0,0,0,.125);
    padding: 0.5rem;
    display: inline-block;
}

.no-border {
    border: 0px;
}

.Sun {
    color: #dc3545;
}

.Sat {
    color: #17a2b8;
}

.dropped-item {
    color: #666666;
}