{% extends "layout.html" %}
{% block body %}
<h2>Operators</h2>
<div class="table-responsive" style="height: 35vh">
    <table class="table">
        <thead>
            <tr>
                <th>name</th>
                <th>affiliation</th>
            </tr>
        </thead>
        <tbody>
            {% for operator in operators %}
            <tr role="row" data-id="{{ operator.id }}">
                <td>{{ operator.user.name }}</td>
                <td>{{ operator.user.affiliation.name }}</td>
            </tr>
            {% else %}
            <tr><td>No operators here so far.</td><td></td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<hr />
<form id="operator_form" action="{{ url_for('operators.update_operator', operator_id='') }}" method="post">
    {{ form.hidden_tag() }}
    <input type="hidden" class="form-control" name="id" id="id" readonly>

    <button class="btn btn-primary btn-block" type="submit" id="store">Store Operator</button>
</form>
{% endblock %}