{% extends "request.html" %}
{% block request_body %}
<div class="modal fade" id="requestModal" tabindex="-1" role="dialog"
     aria-labelledby="requestLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Set your request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="requestId">
                <div class="input-group m-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">title</span>
                    </div>
                    <input type="text" class="form-control" id="requestTitle">
                </div>
                <div class="input-group m-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">note</span>
                    </div>
                    <textarea class="form-control" id="requestNote"></textarea>
                </div>
                <div class="form-group m-1">
                    <div class="input-group date" id="datetimeFrom" data-target-input="nearest">
                        <div class="input-group-prepend">
                            <span class="input-group-text">from</span>
                        </div>
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimeFrom">
                        <div class="input-group-append" data-target="#datetimeFrom" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
                <div class="form-group m-1">
                    <div class="input-group date" id="datetimeTo" data-target-input="nearest">
                        <div class="input-group-prepend">
                            <span class="input-group-text">to</span>
                        </div>
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimeTo">
                        <div class="input-group-append" data-target="#datetimeTo" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveRequest">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <div class="cl">
            <div class="cl-header d-none d-md-block">
                <div class="row">
                    <div class="cl-header-cell col text-danger">Sun</div>
                    <div class="cl-header-cell col">Mon</div>
                    <div class="cl-header-cell col">Tue</div>
                    <div class="cl-header-cell col">Wed</div>
                    <div class="cl-header-cell col">Thu</div>
                    <div class="cl-header-cell col">Fri</div>
                    <div class="cl-header-cell col text-info">Sat</div>
                </div>
            </div>
            <div class="cl-body">
                {% for week in month_year_setting.as_calendar %}
                <div class="row">
                    {% for day in week %}
                    <div class="cl-body-cell col" data-day="{{ day.day }}">
                        {% if day %}
                            <div>
                                <button class="add-request btn btn-danger btn-sm"
                                        id="addRequest">
                                    <i class="fa fa-pencil-alt"></i>
                                </button>
                                <span class="cl-day">{{ day.day }}</span>
                            </div>
                            <div class="request-container">
                                {% for request in day.requests %}
                                    {% if request.operator.id == operator.id and request.at_from.day == day.day %}
                                        <button class="btn request btn-block request-item"
                                                title="<h4>{{ request.title }}</h4>" type="button"
                                                data-toggle="popover"
                                                data-id="{{ request.id }}"
                                                data-at-from="{{ request.at_from }}"
                                                data-at-to="{{ request.at_to }}"
                                                data-content="
                                                    <div>
                                                        <button id='editRequest' class='btn btn-info btn-sm btn-block mb-3'
                                                                data-id='{{ request.id }}'
                                                                data-title='{{ request.title }}'
                                                                data-note='{{ request.note }}'
                                                                data-at-from='{{ request.at_from }}'
                                                                data-at-to='{{ request.at_to }}'>Edit</button>
                                                        <div class='m-2'>{{ request.note }}</div>
                                                        <div class='m-2'>
                                                            {{ request.at_from.strftime('%Y/%m/%d %H:%M') }}<br />
                                                            ~<br />
                                                            {{ request.at_to.strftime('%Y/%m/%d %H:%M') }}
                                                        </div>
                                                        <button id='remove-request' class='btn btn-danger btn-sm btn-block mt-3'
                                                                data-id={{ request.id }}>Remove</button>
                                                    </div>">
                                            {{ request.title }}
                                        </button>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div>
            <h5>Monthly Holidays</h5>
            <p id="monthlyHolidays" data-holidays="{{ scheduler.holidays }}">{{ scheduler.holidays }} days</p>
        </div>
        <hr>
        <div>
            <h5>Remained Paid Holidays</h5>
            <p id="paidHolidays" data-holidays="{{ operator.paid_holidays }}">{{ operator.paid_holidays  }} days</p>
        </div>
    </div>
</div>
{% endblock %}

{% block scriptAppend %}
<script>
    const appendRequestUrl = "{{ url_for('schedulers.append_my_request', scheduler_id=scheduler.id, month_year_setting_id=month_year_setting.id) }}";
</script>
<script type="module" src="{{ url_for('schedulers.static', filename='js/request-public.js') }}"></script>
{% endblock %}