{% extends "request.html" %}
{% block request_body %}
<div id="root"></div>
{% endblock %}

{% block scriptAppend %}
<script src="{{ url_for('static', filename='js/vendor/common.bundle.min.js') }}"></script>
<script type="module" src="{{ url_for('schedulers.static', filename='js/request-public.bundle.min.js') }}"
        data-url="{{ url_for('schedulers.show_my_request') }}"
        data-schedule-of="{{ schedule_of }}" data-schedule-of-name="{{ schedule_of.strftime('%b %Y') }}"
        data-url-add-request="{{ url_for('schedulers.append_my_request', scheduler=scheduler.id) }}"
        data-calendar="{{ to_json(monthly_setting.as_calendar) }}" data-holidays="{{ monthly_setting.holidays }}"
        data-paid-holidays="{{ operator.paid_holidays }}"></script>
{% endblock %}