{% extends "layout.html" %}
{% block body %}
<div id="root"></div>
{% endblock %}

{% block css %}
<link rel='stylesheet' type="text/css" href="{{ url_for('schedulers.static', filename='css/scheduler-monthly-setting.css') }}" />
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/vendor/common.bundle.min.js') }}"></script>
<script type="module" src="{{ url_for('schedulers.static', filename='js/scheduler-menu.bundle.min.js') }}"
    data-url-monthly="{{ url_for('schedulers.show_monthly_setting', affiliation='affiliation_id', calendar=next_month) }}"
    data-url-basic="{{ url_for('schedulers.show_basic_setting', affiliation='affiliation_id') }}"
    data-url-yearly="{{ url_for('schedulers.show_yearly_setting', affiliation='affiliation_id') }}"
    data-url-launch="{{ url_for('schedulers.launch_scheduler', affiliation_id='affiliation_id', schedule_of='schedule_of') }}"
    data-affiliations="{{ to_json(affiliations) }}"></script>
<breadscram data-current="{{ to_json({'name': 'Scheduler Menu'}) }}"></breadscram>
{% endblock %}