{% extends "layout.html" %}

{% block css %}
<link rel='stylesheet' type="text/css" href="{{ url_for('schedulers.static', filename='css/scheduler-monthly-setting.css') }}" />
{% endblock %}

{% block script %}
<script id="breadscram" data-current="{{ to_json({'name': 'Scheduler Menu'}) }}"></script>
<script src="{{ url_for('schedulers.static', filename='js/schedulerMenu.bundle.min.js') }}"
        data-url-monthly="{{ url_for('schedulers.show_monthly_setting', team='team_id', calendar=next_month) }}"
        data-url-basic="{{ url_for('schedulers.show_basic_setting', team='team_id') }}"
        data-url-yearly="{{ url_for('schedulers.show_yearly_setting', team='team_id') }}"
        data-url-launch-histories="{{ url_for('schedulers.show_launch_histories') }}"
        data-teams="{{ to_json(teams) }}"></script>
{% endblock %}