{% extends "layout.html" %}
{% block body %}
    <h2>Users</h2>
    <div class="table-responsive">
        <table class="table" id="user-table">
            <thead>
                <tr>
                    <th>login id</th>
                    <th>name</th>
                    <th>role</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr data-id="{{ user.identifier }}" role="row">
                        <td>{{ user.login_id }}</td><td>{{ user.name }}</td><td>{{ user.role|safe }}</td>
                    </tr>
                {% else %}
                    <tr><td>No users here so far.</td><td></td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <form action="{{ url_for('users.add_user') }}" method="post">
        <div class="form-group">
            <input type="hidden" class="form-control" name="identifier" readonly />
            <input type="text" class="form-control" name="login_id" placeholder="login id" />
            <input type="password" class="form-control" name="password" placeholder="password" />
            <input type="text" class="form-control" name="name" placeholder="name" />
            <select name="role" class="form-control custom-select">
                {% for role in roles %}
                    <option value="{{ role.identifier }}" label="{{ role.name }}">{{ role.name }}</option>
                {% else %}
                    <option value="0" label="no role">no role</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-default" type="submit">Store User</button>
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#user-table tbody tr").click(function(){
                alert('hello');
            });
        });
    </script>
{% endblock %}